<div class='level'>
  <h1 class='title level-item is-centered'>New Post</h1>
</div>
<%= render 'form', post: @post %>
<div class='level'>
  <%= link_to 'Back', posts_path, class: 'level-item' %>
</div>
